* {
    margin: 0;
}

body {
    background-color: lightgrey;
}

div {
    height: 500px;
}

.tomato {
    background-color:tomato;
}

.blue {
    background-color: skyblue;
}

div p, div h2 {
    text-align: center;
}

div h2 {
    margin-top: 50px;
}